*{
    margin: 0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
box-sizing: border-box;}


body{
    background:  #E9E9E9;
}
.container{
    width: 100vw;
    height: 100vh;
  
    display: flex;
   
    justify-content: center;
    flex-wrap: wrap;
}
.music{
    width: 100vw;
    height: 20vh;
    padding: 1rem;
    background: #E9E9E9;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    line-height: 40px;
    background-color: rgb(238, 243, 232);
    color: rgb(147, 136, 122);
    box-shadow: 0 9px 8px rgba(148, 146, 146, 0.22);
}

.image{
   padding: 30px;
    height: 40vh;
    padding: 0.5rem;
 
        /* First box shadow for top and left (white color) */
        box-shadow: -5px -5px 10px rgb(255, 255, 255),
                    /* Second box shadow for bottom and right (grey color) */
                    5px 5px 10px rgba(128, 128, 128, 0.858);
 
    
    border-radius: 15%;
    
}

.music h1{

    padding: 0.3rem;
    color: rgb(100, 68, 44);
}

.music p{

    color: rgb(157, 128, 106);
}

 #progress{
    -webkit-appearance: none;
    width: 90vw;
    height: 6px;
    background-color: #579064;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 2rem;

}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:  #1c4425;
    border: 10px solid rgb(231, 224, 224);
}

#progress::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1c4425;
    border: 10px solid rgb(231, 224, 224);
}

#progress::-ms-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #30693d;
    border: 10px solid rgb(231, 224, 224);
}


.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ppp{

    
    width: 3rem;
    height: 3rem;
    margin: 3vw;
    background: #E9E9E9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(147, 136, 122);
    cursor: pointer;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.893),
    /* Second box shadow for bottom and right (grey color) */
    5px 5px 10px rgba(128, 128, 128, 0.5);
}

.controls div:nth-child(3){
    transform: scale(1.7);


}


.colour{
color: red;
}

.search-container {
    display: flex;
    align-items: center;
    max-width: 300px; /* Adjust width as needed */
    margin: 0 auto; /* Center the container horizontally */
}

#searchQuery {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    border: 2px solid #424141;
    border-radius: 5%;
    font-size: 16px;
 
}

#searchQuery::placeholder {
    color: #999; /* Placeholder text color */
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #30693d; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 15%;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#74a17e; /* Button background color on hover */
}


.progress-container {
    position: relative;
    width: 100%;
    margin-top: 2rem;
}

.timer {
    position: absolute;
    top: -25px;
    font-size: 16px;
    color:  #30693d;
}

.start-timer {
    left: 5%;
}

.end-timer {
    right: 5%;
}
